---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Transform Your Business with <br />
      <span class="text-accent dark:text-white highlight"> Our Analytics & AI Solutions</span>
    </Fragment>

    <Fragment slot="subtitle">
      Empower your organization with our cutting-edge analytics and AI technologies designed to enhance your decision-making and drive business growth.Unlock the full potential of your data with our innovative solutions and take your business to the next level.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about Zetta"
    stats={[
      { title: 'Offices', amount: '1' },
      { title: 'Employees', amount: '4+' },
      { title: 'Solutions', amount: '10+' },
      // { title: 'Awards', amount: '24' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <!-- <Features3
    title="Our templates"
    subtitle="Etiam scelerisque, enim eget vestibulum luctus, nibh mauris blandit nulla, nec vestibulum risus justo ut enim. Praesent lacinia diam et ante imperdiet euismod."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Educational',
        description:
          'Morbi faucibus luctus quam, sit amet aliquet felis tempor id. Cras augue massa, ornare quis dignissim a, molestie vel nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Interior Design',
        description:
          'Vivamus porttitor, tortor convallis aliquam pretium, turpis enim consectetur elit, vitae egestas purus erat ac nunc nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Photography',
        description:
          'Duis sed lectus in nisl vehicula porttitor eget quis odio. Aliquam erat volutpat. Nulla eleifend nulla id sem fermentum.',
        icon: 'tabler:template',
      },
    ]}
  /> -->

  <!-- Features3 Widget ************** -->

  <!-- <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce',
        description:
          'Rutrum non odio at vehicula. Proin ipsum justo, dignissim in vehicula sit amet, dignissim id quam. Sed ac tincidunt sapien.',
        icon: 'tabler:template',
      },
      {
        title: 'Blog',
        description:
          'Nullam efficitur volutpat sem sed fringilla. Suspendisse et enim eu orci volutpat laoreet ac vitae libero.',
        icon: 'tabler:template',
      },
      {
        title: 'Business',
        description:
          'Morbi et elit finibus, facilisis justo ut, pharetra ipsum. Donec efficitur, ipsum quis congue luctus, mauris magna.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. Cras malesuada pretium placerat. Nullam venenatis dolor a ante rhoncus.',
        icon: 'tabler:template',
      },
      {
        title: 'Medical',
        description:
          'Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.',
        icon: 'tabler:template',
      },
      {
        title: 'Fashion Design',
        description:
          'Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  /> -->

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="Our values form the foundation of our commitment to delivering exceptional analytics and AI solutions."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'We prioritize our clients, ensuring tailored solutions that meet their unique needs. Our commitment to understanding and addressing their challenges is at the heart of everything we do.',
      },
      {
        title: 'Constant Improvement',
        description:
          'We believe in continuous growth and innovation. Our team relentlessly pursues excellence, staying ahead with the latest advancements in analytics and AI.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Integrity is fundamental to our operations. We adhere to the highest ethical standards, ensuring transparency, fairness, and respect in every action we take.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="Our journey in the world of analytics and AI has been marked by significant milestones and accomplishments that underscore our commitment to excellence."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Our innovative solutions have been adopted by businesses, transforming data into actionable insights and driving growth across continents.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'We take pride in the overwhelming positive feedback from our clients. Their testimonials highlight our ability to deliver impactful results and exceptional service.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Our dedication to pioneering advancements in analytics and AI has earned us numerous awards and recognition within the industry. These accolades reflect our status as leaders in the field.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={3}
    items={[
      {
        title: 'IN',
        description: 'Bengaluru, India',
      },
      {
        title: 'IN',
        description: 'Chennai, India',
      },
      {
        title: 'IN',
        description: 'Coimbatore, India',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Reach out to our team for real-time support and insights. We are here to assist you with all your analytics and AI needs. Whether you have a query or need guidance, our experts are ready to help.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Connect with us directly for personalized assistance. Our team is available to discuss your specific requirements and provide comprehensive solutions to elevate your business.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
