---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>

  <Features3
    title="Solutions and Services"
    subtitle="Discover the advanced capabilities that enable us to transform data into actionable insights through innovative analytics and AI solutions."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
  title: 'Predictive Analytics',
  description: 'Utilize historical data to forecast future trends, helping businesses make informed decisions and stay ahead of the competition.',
},
{
  title: 'Machine Learning',
  description: 'Implement machine learning algorithms to automate processes, enhance decision-making, and uncover hidden patterns within vast datasets.',
},
{
  title: 'Natural Language Processing (NLP)',
  description: 'Leverage NLP to analyze and understand human language, improving customer interactions and extracting valuable insights from text data.',
},
{
  title: 'Data Visualization',
  description: 'Create interactive and intuitive visual representations of data, making complex information easily understandable and actionable.',
},
{
  title: 'Big Data Analytics',
  description: 'Handle and analyze large volumes of data with our robust big data solutions, ensuring scalability and performance.',
},
{
  title: 'IoT Analytics',
  description: 'Integrate Internet of Things (IoT) data for real-time insights, optimizing operations and driving efficiency in connected environments.',
},
{
  title: 'AI-Powered Automation',
  description: 'Streamline workflows and increase productivity with AI-driven automation solutions tailored to your specific needs.',
},
{
  title: 'Customer Analytics',
  description: 'Gain a deeper understanding of customer behaviors and preferences, enabling personalized experiences and targeted marketing strategies.',
},
{
  title: 'Cybersecurity Analytics',
  description: 'Enhance security measures with advanced analytics, detecting and mitigating potential threats proactively.',
},
{
  title: 'Data Integration',
  description: 'Seamlessly integrate data from various sources, ensuring a unified and accurate view of your information landscape.',
},
{
  title: 'Real-Time Analytics',
  description: 'Access up-to-the-minute insights and make quick decisions with our real-time analytics capabilities.',
},
{
  title: 'Cloud Analytics',
  description: 'Harness the power of cloud computing to store, analyze, and access your data securely and efficiently.',
},
{
  title: 'Blockchain Analytics',
  description: 'Leverage blockchain technology to ensure transparency and traceability in your data transactions.',
},
{
  title: 'AI Research and Development',
  description: 'Stay at the forefront of innovation with our dedicated AI research and development efforts, continually pushing the boundaries of what\'s possible.',
},
{
  title: 'Adaptability',
  description: 'Quickly adapt to the latest trends, technologies, and industry changes, ensuring your business remains competitive and innovative.',
}
    ]}
  />


  <Features2
    title="Roles"
    subtitle="Provides end-to-end team for your needs."
    tagline="Personas"
    items={[
      {
        title: 'Business Analyst',
        description:
          "Gather and document business requirements ▪ Translate requirements into technical specifications ▪ Develop business use cases and cost-benefit analyses ▪ Support the implementation and testing phases",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Data Analyst',
        description: "Collect, organize, and analyse large sets of data ▪ Develop and implement data models ▪ Manage RDBMS / DDL / DML ▪ Collaborate with cross-functional teams to understand requirements",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Business Intelligence Engineer',
        description:
          'Create analytics dashboard and reports ▪ BI Data modelling ▪ Data Transformation and data wrangling ▪ Cross-Functional Collaboration',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Data Engineer',
        description:
          "Data Pipeline Development ▪ Data Integration & Data Storage ▪ ETL (Extract, Transform & Load) ▪ Data Cleaning and Pre-processing ▪ Database architecture creation",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Data Scientist',
        description:
          'Develop predictive and machine learning models ▪ Explore and analyse large datasets ▪ Extract valuable insights from data ▪ Provide Statistical Inference',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'AI Engineer',
        description: 'Develop and implement AI models and algorithms ▪ Apply machine learning and deep learning pre-process ▪ Analyse data for AI model training ▪ Optimize AI models for performance and efficiency',
        icon: 'flat-color-icons:approval',
      }
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>



  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Start exploring',
        href: '/contact',
      },
    ]}
    title="Connect with Us"
    subtitle="Whether you're unable to leverage value out of your data, we are here to elevate you."
  />
</Layout>
